body {
  outline: none;
  border: none;
  box-sizing: border-box;
  background-color: rgb(10, 111, 124);
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;

  &__buttons {
    display: flex;
    margin-bottom: 60px;
  }

  &__get,
  &__hide {
    margin-right: 30px;
    padding: 10px 60px;
    border-radius: 8px;
    outline: none;
    border: none;
    color: white;
    background-color:rgb(90, 90, 212);
    font-size: 14px;

    &:hover {
      box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
      color: white;
    }

    &:active {
      background-color: rgb(67, 67, 173);
    }
  }

  &__search {
    background: none;
    border: none;
    border-bottom: 1px solid rgb(90, 90, 212);
    color: rgb(3, 194, 184);
    padding-left: 12px;
    outline: none;
    width: 216px;

    &:focus {
      box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
      border: none;
    }
  }
}

@media (max-width: 840px) {
  .products {
    &__buttons {
      flex-direction: column;
    }

    &__get,
    &__hide {
      margin-top: 20px;
      margin-right: 0;
    }

    &__search {
      margin-top: 40px;
      height: 30px
    }
  }
}
